{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Papá</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/userpicture.jpg" class="img-thubnail">
    </div>


</div>

{{> footer}}